<html>
<head>
    <title>Palpable Coral</title>
</head>
<body>
<?php
$servername = "192.168.1.36:3306";
$username = "myuser";
$password = "mypass";
// Create connection
$conn = new mysqli($servername, $username, $password, 'backend');
// Check connection
if ($conn->connect_error) {
  die("Connection failed: " . $conn->connect_error);
}
echo "Connected successfully;";
$sql = "SELECT * FROM server WHERE ip='{{ ip }}'";
$result = $conn->query($sql);
if ($result->num_rows > 0) {
  // output data of each row
  while($row = $result->fetch_assoc()) {
    echo "  ip: " . $row["ip"]. "- name: " . $row["name"]. "<br>";
  }
} else {
  echo "0 results";
}
$conn->close();
?>
</body>
</html>